/* Global Rules */

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'EB Garamond', serif;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
  color: rgb(227, 217, 104)
}

a.relationship-links {
font-size: 1.5rem;
}

h3 {
  width:fit-content;
  margin: auto;
}

main {
  padding: 5% 0 5%;
  
}


/* Classes */



/* Bootstrap Reconfiguring */

.bg-dark {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;;
}


/* Containers */

.app {
  text-align: center;
  border-radius: 60px;
}

.home-content {
margin-top: 5%;
}

.instructions {
  width: fit-content;
  margin: 5% auto 0;
  border-radius: 20px;
  padding: 1%;
}

.links-container {
margin-top: 3%;
}

.list-container {
  text-align: center;
  width: fit-content;
  margin: auto;
}


/* Images/Icons */

.logo-image {
  width: 100px;
  height: auto;
}


/* Headers */

.page-header {
  padding-bottom: 3%;
}

.title-header {
  margin: 20px;
  font-weight: bold;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* Footers */

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Lists */

.options-list {
  font-size: 2rem;
  text-align: left;
}

.cosmetics-list {
  margin-top: 3%;
}

/* Forms */

form {
width: 50%;
margin:3% auto 3%;
}

input {
margin: 5px auto;
}

label {
font-size: 1.6rem;
}

.form-input {
margin-bottom: 3%;
}

.btn {
  margin: 0 2%;
}

/* Tables */

.view-row {
  width: 75%;
  margin: auto;
}

.items-table {
  width: 25%;
  margin: auto;
}

.td-button {
width: 20px;
}

.card {
  width: 25%;
  margin: auto;
  font-size: 1.6rem;
}

.order-details-row {
  margin-top: 3%;
}
