body {
    margin: 0 auto;
    padding: 0;
    font-family: 'EB Garamond', serif;
    background-color: antiquewhite;
}

main {
    padding: 5% 0 5%;
}

.bg-dark {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;;
}

.app {
    text-align: center;
}